* {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {

    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

.nav-title {
    width: 121px;
    height: 61px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* banner styles */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner h3 {
    color: #181818;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner h1 {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
}

.banner p {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.banner img {
    width: 584px;
    height: 676px;
}

/* main section */
main {
    width: 1140px;
    margin: 0 auto;

}

.header {
    background: #FFF8F3;
    background-image: url("/images/header_bg.png"), url("/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* section styles */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-contact {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.what-i-do {
    margin-top: 130px;
}

.skill-container {
    display: flex;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}